.btn1{
    margin-top: 60px;
    width: 80%;
    margin-left: 10%;
    --background:#193E2E;
    color: #ffffff;
}
.btn2{
    margin-top: 60px;
    width: 80%;
    margin-left: 10%;
    --background:#193E2E;
    color: #ffffff;
}
.contBtn1{
    margin-top: 45%;
    margin-bottom: 100px;
}
.contBtn2{
    margin-top: 100px;
    margin-bottom: 100px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.fondo{
    --background: #ffffff;
}
.head{
    --background: #00C2B5;
}
.title{
   text-align: center;
   font-weight: 900;
}