<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-title class="title">
      Sectores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  
  <div class="contBtn1">
    <h1>Sector 1</h1>
    <ion-button class="btn1" fill="solid" expand="block" (click)="stateConfiguracion()">Activar</ion-button>
  </div>
  
  
  <div class="contBtn2">
    <h1>Sector 2</h1>
    <ion-button class="btn2" fill="solid" expand="block">Activar</ion-button>
  </div>
 
  
</ion-content>
